<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sifu.sfcc.mapper.XmkTelsMapper">
  <resultMap id="BaseResultMap" type="com.sifu.sfcc.model.XmkTels">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="contacts" jdbcType="VARCHAR" property="contacts" />
    <result column="contact_tel" jdbcType="VARCHAR" property="contactTel" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
    <result column="duty_room" jdbcType="VARCHAR" property="dutyRoom" />
    <result column="territory" jdbcType="VARCHAR" property="territory" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, company, contacts, contact_tel, contact_phone, duty_room, territory
  </sql>
  <select id="selectByExample" parameterType="com.sifu.sfcc.model.XmkTelsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from xmk_tels
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from xmk_tels
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from xmk_tels
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sifu.sfcc.model.XmkTelsExample">
    delete from xmk_tels
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sifu.sfcc.model.XmkTels">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into xmk_tels (company, contacts, contact_tel, 
      contact_phone, duty_room, territory
      )
    values (#{company,jdbcType=VARCHAR}, #{contacts,jdbcType=VARCHAR}, #{contactTel,jdbcType=VARCHAR}, 
      #{contactPhone,jdbcType=VARCHAR}, #{dutyRoom,jdbcType=VARCHAR}, #{territory,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sifu.sfcc.model.XmkTels">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into xmk_tels
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="company != null">
        company,
      </if>
      <if test="contacts != null">
        contacts,
      </if>
      <if test="contactTel != null">
        contact_tel,
      </if>
      <if test="contactPhone != null">
        contact_phone,
      </if>
      <if test="dutyRoom != null">
        duty_room,
      </if>
      <if test="territory != null">
        territory,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null">
        #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="contactTel != null">
        #{contactTel,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null">
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="dutyRoom != null">
        #{dutyRoom,jdbcType=VARCHAR},
      </if>
      <if test="territory != null">
        #{territory,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sifu.sfcc.model.XmkTelsExample" resultType="java.lang.Long">
    select count(*) from xmk_tels
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update xmk_tels
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.company != null">
        company = #{record.company,jdbcType=VARCHAR},
      </if>
      <if test="record.contacts != null">
        contacts = #{record.contacts,jdbcType=VARCHAR},
      </if>
      <if test="record.contactTel != null">
        contact_tel = #{record.contactTel,jdbcType=VARCHAR},
      </if>
      <if test="record.contactPhone != null">
        contact_phone = #{record.contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.dutyRoom != null">
        duty_room = #{record.dutyRoom,jdbcType=VARCHAR},
      </if>
      <if test="record.territory != null">
        territory = #{record.territory,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update xmk_tels
    set id = #{record.id,jdbcType=INTEGER},
      company = #{record.company,jdbcType=VARCHAR},
      contacts = #{record.contacts,jdbcType=VARCHAR},
      contact_tel = #{record.contactTel,jdbcType=VARCHAR},
      contact_phone = #{record.contactPhone,jdbcType=VARCHAR},
      duty_room = #{record.dutyRoom,jdbcType=VARCHAR},
      territory = #{record.territory,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sifu.sfcc.model.XmkTels">
    update xmk_tels
    <set>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null">
        contacts = #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="contactTel != null">
        contact_tel = #{contactTel,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null">
        contact_phone = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="dutyRoom != null">
        duty_room = #{dutyRoom,jdbcType=VARCHAR},
      </if>
      <if test="territory != null">
        territory = #{territory,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sifu.sfcc.model.XmkTels">
    update xmk_tels
    set company = #{company,jdbcType=VARCHAR},
      contacts = #{contacts,jdbcType=VARCHAR},
      contact_tel = #{contactTel,jdbcType=VARCHAR},
      contact_phone = #{contactPhone,jdbcType=VARCHAR},
      duty_room = #{dutyRoom,jdbcType=VARCHAR},
      territory = #{territory,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>